<form action ="/parcels" method="post">
  <label for="name">Enter the name for your package</label>
  <input id="name" name="name" type="text"> 
  <label for="weight">Enter the weight for your package</label>
  <input id="weight" name="weight" type="number">
  <label for="length">Enter the length for your package</label>
  <input id="length" name="length" type="number"> 
  <label for="height">Enter the height for your package</label>
  <input id="height" name="height" type="number"> 
  <label for="width">Enter the width for your package</label>
  <input id="width" name="width" type="number">
  <button type="submit">Submit</button>
</form>